.App {
  margin: 16px;
}
input {
  outline: none;
  color: inherit;
  -webkit-appearance: none;
  background: none;
  border-radius: 0;
  font-family: inherit;
  resize: none;
  line-height: normal;
  border: 1px solid #999;
  padding: 0 10px;
  height: 35px;
  font-size: 14px;
}
input.error {
  border-color: red;
}
.title {
  margin-top: 16px;
}
.container {
  padding-top: 30px;
  text-align: center;
}